.personal-info-main__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    width: 920px;
    height: 640px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .4);
    border-radius: 20px;
}